{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
    <nav class="breadcrumb-navbar nav-wrapper transparent">
        <ul>
            <li class="breadcrumb"><span>Forum</span></li>
            <li class="breadcrumb"><a href="/forum/comment">Commentaire</a></li>
            <li class="breadcrumb"><span class="active">Modifier</span></li>
        </ul>
    </nav>

    <h3>Modifier le commentaire</h3>
    {{ form_start(form) }}

    <div class="row">
        <div class="input-field col s6">{{ form_row(form.userId) }}</div>
        <div class="input-field col s6">{{ form_row(form.questionId) }}</div>
    </div>
    <div class="input-field">{{ form_row(form.content) }}</div>

    {{ form_row(form.save, {'attr': {'class': 'btn waves-effect waves-light'}} ) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}