{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
    </br>
    <div class="row">
        <div class="col l2 offset-l10">
            <a class="z-depth-3 waves-effect waves-light btn blue darken-2" href="{{ path('initiatice_admin_forum_comment_add') }}">Ajouter</a>
        </div>
    </div>

    <table class="striped z-depth-1">
        <thead class ="blue darken-2 white-text">
        <tr>
            <th data-field="questionId">Question</th>
            <th data-field="userId">Utilisateur</th>
            <th data-field="content">Contenu</th>
            <th data-field="date_update">Dernière modification</th>
            <th data-field="actions" class="table-actions-2">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for v in comments %}
        <tr>
            <td>{{ v.questionId }}</td>
            <td>{{ v.userId }}</td>
            <td>{{ v.content|slice(0, 50) }}</td>
            <td>{{ v.dateUpdate|date("d/m/Y") }}</td>
            <td>
                <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1"
                   href="{{ path('initiatice_admin_forum_comment_edit', {'id': v.id}) }}">
                    <i class="material-icons left">mode_edit</i></a>
                <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1"
                   href="{{ path('initiatice_admin_forum_comment_remove', {'id': v.id}) }}"
                   onclick="showModal(event, this, 'remove_modal'); return false;">
                    <i class="material-icons left">delete</i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}