{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
    <a class="waves-effect waves-light btn" href="{{ path('initiatice_admin_forum_comment_add') }}">Ajouter</a>

    <table class="striped">
        <thead>
        <tr>
            <th data-field="pseudo">Pseudo</th>
            <th data-field="questionId">Question</th>
            <th data-field="content">Contenu</th>
            <th data-field="date_update">Dernière modification</th>
            <th data-field="actions">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for c in comments %}
        <tr>
            <td>{{ c.pseudo|slice(0, 50) }}</td>
            <td>{{ c.questionId }}</td>
            <td>{{ c.content|slice(0, 50) }}</td>
            <td>{{ c.dateUpdate|date("d/m/Y") }}</td>
            <td>
                <a class="waves-effect waves-light btn" href="{{ path('initiatice_admin_forum_comment_edit', {'id': c.id}) }}"><i class="material-icons left">mode_edit</i></a>
                <a class="waves-effect waves-light btn" href="{{ path('initiatice_admin_forum_comment_remove', {'id': c.id}) }}"><i class="material-icons left">delete</i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}