{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
    <h3>Ajouter une actualité</h3>
    {{ form_start(form) }}

    <div class="input-field">{{ form_row(form.title) }}</div>
    <div class="row">
        <div class="input-field col s6">{{ form_row(form.type) }}</div>
        <div class="col s6">{{ form_row(form.profile) }}</div>
    </div>
    <div class="input-field">{{ form_row(form.abstract) }}</div>
    <div class="input-field">{{ form_row(form.contentImage) }}</div>
    <div>{{ form_row(form.content) }}</div>
    <div class="input-field">{{ form_row(form.externalLink) }}</div>

    {{ form_row(form.save, {'attr': {'class': 'btn waves-effect waves-light'}} ) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
