{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
    <a class="waves-effect waves-light btn" href="{{ path('initiatice_admin_news_add') }}">Ajouter</a>

    <table class="striped">
        <thead>
        <tr>
            <th data-field="title">Titre</th>
            <th data-field="type">Type</th>
            <th data-field="abstract">Résumé</th>
            <th data-field="date_update">Dernière modification</th>
            <th data-field="actions">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for item in news %}
        <tr>
            <td>{{ item.title|slice(0, 50) }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.abstract|slice(0, 50) }}</td>
            <td>{{ item.dateUpdate|date("d/m/Y") }}</td>
            <td>
                <a class="waves-effect waves-light btn" href="{{ path('initiatice_admin_news_edit', {'id': item.id}) }}"><i class="material-icons left">mode_edit</i></a>
                <a class="waves-effect waves-light btn" href="{{ path('initiatice_admin_news_remove', {'id': item.id}) }}"><i class="material-icons left">delete</i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}