{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
    <nav class="breadcrumb-navbar nav-wrapper transparent">
        <ul>
            <li class="breadcrumb"><a href="{{ path("initiatice_admin_event_index") }}">Evènements</a></li>
            <li class="breadcrumb"><span class="active">Ajouter</span></li>
        </ul>
    </nav>

    <h3>Ajouter un événement</h3>
    {{ form_start(form) }}

    <div class="row">
        <div class="input-field col s10">{{ form_row(form.title) }}</div>
        <div class="input-field col s2">{{ form_row(form.type) }}</div>
    </div>
    <div class="input-field">{{ form_row(form.abstract) }}</div>
    <div class="input-field">{{ form_row(form.place) }}</div>
    <div class="row">
        <div class="input-field col s6">{{ form_row(form.latitude) }}</div>
        <div class="input-field col s6">{{ form_row(form.longitude) }}</div>
    </div>
    {{ form_row(form.dateStart) }}
    <div class="input-field">{{ form_row(form.contentImage) }}</div>
    <div>{{ form_row(form.content) }}</div>
    <div class="input-field">{{ form_row(form.externalLink) }}</div>

    {{ form_row(form.save, {'attr': {'class': 'btn waves-effect waves-light'}} ) }}
    {{ form_end(form) }}   
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    $(document).ready(function() {
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
{% endblock %}
