{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
  </br>
  <div class="row">
    <div class="col l2 offset-l10">
      <a class="z-depth-3 waves-effect waves-light btn blue darken-2"  href="{{ path('initiatice_admin_event_add') }}">Ajouter</a>
    </div>
  </div>
    <table class="striped z-depth-1">
        <thead class =" blue darken-2 white-text">
            <tr>
                <th data-field="title">Titre</th>
                <th data-field="type">Type</th>
                <th data-field="abstract">Résumé</th>
                <th data-field="date">Date</th>
                <th data-field="place">Lieu</th>
                <th data-field="dateAdd">Date d'ajout</th>
                <th data-field="actions" class="table-actions-2">Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for v in events %}
            <tr>
                <td>{{ v.title|slice(0, 50) }}</td>
                <td>{{ v.type }}</td>
                <td>{{ v.abstract|slice(0, 50) }}</td>
                <td>{{ v.dateStart|date("d/m/Y") }}</td>
                <td>{{ v.place }}</td>
                <td>{{ v.dateAdd|date("d/m/Y") }}</td>
                <td>
                    <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1"
                       href="{{ path('initiatice_admin_event_edit', {'id': v.id}) }}">
                        <i class="material-icons left">mode_edit</i></a>
                    <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1"
                       href="{{ path('initiatice_admin_event_remove', {'id': v.id}) }}"
                       onclick="showModal(event, this, 'remove_modal'); return false;">
                        <i class="material-icons left">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
