{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
  </br>
  <div class="row">
    <div class="col l2 offset-l10">
      <a class="z-depth-3 waves-effect waves-light btn blue darken-2"  href="{{ path('initiatice_admin_event_add') }}">Ajouter</a>
    </div>
  </div>
    <table class="striped z-depth-1">
        <thead class =" blue darken-2 white-text">
        <tr>
            <th data-field="title">Titre</th>
            <th data-field="type">Type</th>
            <th data-field="abstract">Résumé</th>
            <th data-field="date">Date</th>
            <th data-field="place">Lieu</th>
            <th data-field="date_update">Dernière modification</th>
            <th data-field="actions">Actions &emsp; &emsp;</th>
        </tr>
        </thead>

        <tbody>
        {% for item in events %}
            <tr>
                <td>{{ item.title|slice(0, 50) }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.abstract|slice(0, 50) }}</td>
                <td>{{ item.dateStart|date("d/m/Y") }}-{{ item.dateStart|date("d/m/Y") }}</td>
                <td>{{ item.place }}</td>
                <td>{{ item.dateUpdate|date("d/m/Y") }}</td>
                <td>
                    <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1" href="{{ path('initiatice_admin_event_edit', {'id': item.id}) }}"><i class="material-icons left">mode_edit</i></a>
                    <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1" href="{{ path('initiatice_admin_event_remove', {'id': item.id}) }}"><i class="material-icons left">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block initiaticeAdmin_footer %}
    <footer class="blue lighten-1 white-text page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Interface d'adminitration</h5>
            <p class="grey-text text-lighten-4">Vous pouvez modérer l'application mobile INITIATICE via cette interface d'administration.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Liens utiles</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright CEMU
        <a class="grey-text text-lighten-4 right" href="http://cemu.unicaen.fr/l-espace-enseignants/dispositif-initiatice/dispositif-initiatice-diffusion-aide-echange-226398.kjsp?RH=1192024540178">Plus d'info</a>
        </div>
      </div>
    </footer>
{% endblock %}
