{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
    </br>
    <nav class="breadcrumb-navbar nav-wrapper transparent">
        <ul>
            <li class="breadcrumb"><span class="active">Modérateurs</span></li>
        </ul>
        <a class="z-depth-3 waves-effect waves-light btn blue darken-2 right"  href="{{ path('fos_user_registration_register') }}">Ajouter</a>
    </nav>

    <table class="striped z-depth-1">
        <thead class =" blue darken-2 white-text">
            <tr>
                <th data-field="email">Email</th>
                <th data-field="username">Prénom</th>
                <th data-field="enabled">Actif</th>
                <th data-field="actions"  class="table-actions-2">Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for v in admins %}
            <tr>
                <td>{{ v.email }}</td>
                <td>{{ v.username }}</td>
                <td>{{ v.enabled }}</td>
                <td>
                    <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1"
                       href="{{ path('initiatice_admin_admin_remove', {'id': v.id}) }}"
                       onclick="showModal(event, this, 'remove_modal'); return false;">
                        <i class="material-icons left">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}