{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
    <h3>Ajouter un enseignant</h3>
    {{ form_start(form) }}

    <div class="input-field">{{ form_row(form.firstname) }}</div>
    <div class="input-field">{{ form_row(form.lastname) }}</div>
    <div class="input-field">{{ form_row(form.email) }}</div>
    <div class="input-field">{{ form_row(form.plainPassword) }}</div>
    <div>{{ form_widget(form.enabled) }} {{ form_label(form.enabled) }}</div>
    {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock %}
{% block initiaticeAdmin_footer %}
{% endblock %}
{% block javascripts %}
{{ parent() }}  
<script> CKEDITOR.replace('form_content');</script>
{% endblock %}