{% extends "initiaticeAdminBundle::layout.html.twig" %}
{% block initiaticeAdmin_body %}
  </br>
  <div class="row">
    <div class="col l2 offset-l10">
      <a class="z-depth-3 waves-effect waves-light btn blue darken-2" href="{{ path('initiatice_admin_teacher_add') }}">Ajouter</a>
    </div>
  </div>
    <table class="striped z-depth-1">
        <thead class ="blue darken-2 white-text">
        <tr>
            <th data-field="firstname">Prénom</th>
            <th data-field="lastname">Nom</th>
            <th data-field="email">Email</th>
            <th data-field="enabled">Activé</th>
            <th data-field="actions" class="table-actions-2">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for t in teachers %}
        <tr>
            <td>{{ t.firstname|slice(0, 50) }}</td>
            <td>{{ t.lastname|slice(0, 50) }}</td>
            <td>{{ t.email|slice(0, 50) }}</td>
            <td>{{ t.enabled }}</td>
            <td>
                <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1" href="{{ path('initiatice_admin_teacher_edit', {'id': t.id}) }}"><i class="material-icons left">mode_edit</i></a>
                <a class="btn-floating waves-effect waves-light z-depth-2 blue darken-1" href="{{ path('initiatice_admin_teacher_remove', {'id': t.id}) }}"><i class="material-icons left">delete</i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}